.container__battle-spells li {
  margin: 50px;
  transition: 0.4s;
  cursor: pointer;
}

.container__battle-spells ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 5px;
  margin: 33px 52px;
}

.container__battle-spells ul li {
  width: 86px;
}

.container__battle-spells li:hover {
  transform: scale(1.2);
}

.container__battle-spells li a {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.container__battle-spells li img {
  border-radius: 10%;
}

.container__battle-spells li h4 {
  margin: 0;
  color: #6863c7;
  font-size: 18px;
  font-family: "Fredoka One";
  text-align: center;
  font-weight: 400;
}

@media screen and (max-width: 609px) and (min-width: 311px) {
  .container__battle-spells ul {
    margin-top: 0;
  }
}
