.container_body_items {
    display: flex;
    flex-flow: row wrap;
    justify-content : space-around;
    padding: 5px;
    margin: 33px 52px;
}

.container_body_items .each-elem {
    margin: 20px;
    transition: 0.4s;
    cursor: pointer;
}

.container_body_items .each-elem:hover {
    transform: scale(1.2);
}

.container_body_items .each-elem a {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.container_body_items .each-elem img {
    border-radius: 10%;
}

.container_body_items .each-elem h4 {
    margin: 0;
    color: #6863c7;
    font-size: 18px;
    font-family: 'Fredoka One';
    text-align: center;
    font-weight: 400;
}