.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #599ad1;
}
.container__navbar {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #62effa;
  padding: 40px 0;
  border-right: 2px solid #599ad1;
}

.container__navbar a {
  text-decoration: none;
}

.container__navbar h2 {
  color: #6863c7;
  cursor: pointer;
  font-weight: 400;
  font-family: "Fredoka One";
}

.container__body {
  width: 80%;
  background-color: #62effa;
  position: relative;
  min-height: 90vh;
}
.container__body article {
  background-color: #ea00ff75;
  position: absolute;
  font-size: 16px;
  margin: 5px 10px 10px 10px;
  padding: 20px;
  color: #fffb00;
  letter-spacing: 1px;
  border-radius: 10px;
}
.container__back-img {
  width: 100%;
  background-repeat: no-repeat;
}

.get-app {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.get-app a {
  color: #62effa;
}

.get-app__google-play {
  margin-right: 15px;
}

.get-app__google-play img {
  width: 200px;
}

.get-app__app-store img {
  width: 180px;
}

@media screen and (max-width: 779px) and (min-width: 610px) {
  .container__body article {
    font-size: 12px;
    padding: 15px;
  }
  .container__navbar h2 {
    font-size: 15px;
  }
  .get-app__google-play img {
    width: 150px;
  }

  .get-app__app-store img {
    width: 135px;
  }
}

@media screen and (max-width: 609px) and (min-width: 300px) {
  .container__body article {
    display: none;
  }
  .container__navbar h2 {
    font-size: 14px;
  }
  .get-app__google-play img {
    width: 150px;
  }
  .get-app__app-store img {
    width: 135px;
  }
  .container {
    width: 100%;
    display: block;
    justify-content: space-around;
  }
  .container__navbar {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #62effa;
    padding: 5px 0;
    border-bottom: 2px solid #599ad1;
    border-right: none;
  }
  .container__body {
    width: 100%;
    background-color: #62effa;
    position: relative;
    min-height: 90vh;
  }
  .container__navbar a {
    padding: 0 20px;
  }
}
