@import url(./css/header.css);
@import url(./css/nav.css);
@import url(./css/allHeroes.css);
@import url(./css/battleSpells.css);
@import url(./css/items.css);

body {
  box-sizing: border-box;
  font-family: 'Fredoka One';
  font-size: 15px;
  font-weight: 400;
}
